.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.thompson_codes_logo {
  padding: 0px 15px 0px 15px;
  width: 6em;
}

.front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20em;
}

.front h1 {
  font-size: 3em;
  font-weight: 700;
  margin: 0;
}

@media (max-width: 768px) {
  .banner {
    flex-direction: column;
  }
}
