.index {
  height: 100%;
  width: 100%;
  background: honeydew;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background: none;
  border: none;
}

.top_button {
  transform:  rotate(180deg);
  float: left;
}

.bottom_button {
  float: right;
}

button img {
  width: 20%;
}

