.menu_bar {
  height: 100%;
  color: white;
  text-align: center;
  width: 100%;
}

/* TODO:  Set color properties dynamically w/ a theme */

.menu_bar_0 {
  background-color: #420039;
}

.menu_bar_1 {
  background-color: #07393C;
}

.menu_bar_2 {
  background-color: #CECD71;
}

.menu_bar_3 {
  background-color: #38668C;
}

.menu_bar.inactive {
  flex: 1 1 0;
}
.menu_bar.active {
  flex: 3 1 auto;
}