@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

html,
body,
#root,
#app,
#app > div {
  margin: 0;
  height: 100%;

  .home {
    background-color: #fcfcfc;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: fit-content;

    .header {
      background-image: url("./assets/beach-background.jpg");
      display: flex;
      flex-direction: row;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: right;
      min-height: 150%;

      .header-content {
        display: flex;
        flex-direction: column;
        gap: 30px;
        position: relative;
        z-index: 1;
      }
    }
  }

  /* Full Size Devices */
  @media (min-width: 1025px) {
    .home {
      .header {
        .header-content {
          margin-left: 5%;
          top: 10%;
          width: 60%;
        }
      }
    }
  }

  /* Tablets */
  @media (min-width: 601px) and (max-width: 1024px) {
    .home {
      .header {
        .header-content {
          margin-left: 5%;
          top: 10%;
          width: 50%;
        }
      }
    }
  }

  /* Phones */
  @media (max-width: 600px) {
    .home {
      .header {
        .header-content {
          margin-left: 5%;
          top: 10%;
          width: 40%;
        }
      }
    }
  }
}

#email-button {
  cursor: url("./assets/envelope-duotone.png"), pointer;
}
